* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background: repeating-linear-gradient(130deg, pink, blue);
}
.app-container {
  display: flex;
  flex-direction: column;
}
.current-section {
  margin-top: 5%;
  height: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.future-section {
  height: 50%;
}
.today-header {
  font-size: 50px;
  color: white;
}
.current-temperature,
.today-timezone,
.today-description {
  font-size: 40px;
  color: white;
  padding: 15px;
}
.future-section {
  display: flex;
  flex-flow: row nowrap;
}
.slideBar {
  min-height: 100px;
  width: 100%;
  background: transparent;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  transform: translate(0, -100px);
  transition: 1s transform;
  justify-content: center;
  align-items: center;
  display: none;
}
.shown {
  transform: translate(0, 0);
  transition: 1s transform;
  display: flex;
}
.errorMessage {
  font-size: 30px;
  color: white;
}
.cityName {
  background: none;
  border: none;
  border-bottom: solid white 1px;
  margin-left: 2%;
  color: white;
  font-size: 30px;
  text-align: center;
}
.getWeather {
  display: inline-block;
  background: none;
  border: none;
  color: white;
  margin-left: 3%;
  font-size: 30px;
  cursor: pointer;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.future-section {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: row wrap;
}
.day {
  padding: 2%;
  display: flex;
  color: white;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
canvas {
  max-width: 64px;
  max-height: 64px;
  padding: 0.3em;
}
.day > span {
  padding: 0.3em;
}
.cityName::placeholder {
  color: rgb(207, 207, 207);
}

@media (max-width: 600px) {
  .shown {
    flex-direction: column;
    width: 100%;
  }
  .errorMessage {
    text-align: justify;
    width: 97%;
    font-size: 1.5rem;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 2%;
  }
  .cityName {
    margin-top: 0.3em;
  }
  .getWeather {
    margin-top: 0.6em;
  }
}
